.coverage
coverage.xml
docs/build/
test_results.xml
*.pyc
*.pyo
build/*
dist/*
*egg-info*
RPMS
SOURCES
BUILDROOT
.vagrant
.env*
.pytest_cache
.mypy_cache
.pytype
.tox
src/orp_apps/settings/local_settings.py
*.sqlite
